.chatting {
  width: 550px;
  height: 270px;
  border: 1px;
  overflow: overlay;
  direction: rtl;
  margin: 0 0 0 30px;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background-color: #d4cfd3;
  border-radius: 100px;
  height: 30%;
}

.input {
  border: 0.1px solid black;
}

.input:focus {
  outline: none;
  background: transparent;
}
